/*	import */
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/
@font-face{font-family:'H5PFontIcons'; src:url(h5p.ttf) format('truetype'); font-weight:normal; font-style:normal;}

/*	anim  */
@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(120,180,255, 1); }
  70% { box-shadow: 0 0 0 10px rgba(120,180,255, 0); }
  100% { box-shadow: 0 0 0 0 rgba(120,180,255, 0); }
}

@keyframes smack {
	0% { transform: scale(5); opacity:0;}
	50% { transform: scale(1); opacity:1;}
	100% { transform: scale(1); opacity:1;}
}

/*	blanker  */

.blanker {
	padding:5px;
	margin-top:5px;
	position:relative;
	margin-bottom:30px;
}

.blanker .inner {
	border-bottom:1px solid rgba(0,0,0,0.2);
	padding-top:5px;
	padding-bottom:5px;
}

/*	toolbar  */

.blanker_toolbar {
	cursor:arrow;
	font-family: 'Open Sans', arial;
	font-size: 12px;

	height:23px;
  text-align: center;
}

.blanker_toolbar .score_view div, .blanker_toolbar .filled_view div {
	display:inline-block;
}

.blanker_toolbar .score_view {
	width:100px;
	opacity:0;
	transition:top 0.5s, opacity 0.5s;
	font-weight:bold;
  float: right;
}

.blanker_toolbar[data-score_mode] .score_view {
	top:0px;
	opacity:1;
}

.blanker_toolbar .filled_view {
	width:100px;
	opacity:1;
	transition:top 0.5s, opacity 0.5s;
  float: right;
}

.blanker_toolbar[data-score_mode] .filled_view {
	top:-30px;
	opacity:0;
}

.blanker_toolbar[data-score_mode] .score_count {
	animation: smack 1s 1;
	animation-timing-function: ease-in;
}

[data-blanker_count_complete] .filled_count, [data-blanker_count_complete] .filled_total {
	color:rgba(0,180,0,1);
}

[data-blanker_count_complete] .button_ok {
	background-color:rgba(120,180,255,1);
}

[data-blanker_count_complete] .button_ok:not(:hover) {
	animation: pulse 1s infinite;
}

/*	buttons  */
.blanker_button {
	display:inline-block;
	background-color:rgba(160,160,160,1);
	padding:3px;
	padding-right:10px;
	padding-left:10px;
	margin-left:5px;
	border-radius:6px;
	cursor:pointer;
	color:white;

}

.blanker_button.button_retry {
	background-color:rgba(120,180,255,1);
}

/*	blank boxes */

.blank {

	border-radius:0.25em;
	position:relative;
}

.blank[data-correct] select, .blank[data-correct] span {
	background-color:#c2f9c1;
}

.blank[data-incorrect] select, .blank[data-incorrect] span {
	background-color:#f9c1c6;
}

.blank:before {
	content:"";
	position:absolute;
	left:0;right:0;bottom:0;
	height:0;
	aborder-bottom: 2px solid rgba(160,160,160,1);

}

.blank:hover:before {
	aborder-bottom: 2px solid rgba(120,180,255,1);
}

.blank:not([data-empty]):before {
	aborder-bottom: 2px solid rgba(120,180,255,1);
}

.blank[data-correct]:before {
	aborder-bottom: 2px solid rgba(120,255,180,1);
}

.blank[data-incorrect]:before {
	aborder-bottom: 2px solid rgba(255,120,120,1);
}

.blanker .fill_blank {
	padding-left:5px;
	padding-right:5px;
	display:inline-block;
	min-width:40px;
	text-align:center;
	outline:none;
	border:1px solid #a0a0a0;
	border-radius:0.25em;
	font-family:arial;
	color:black;
	font-size:16px;
	font-weight:normal;
	height:22px;
}

.blanker .fill_blank:focus, .blanker .multiple_choice:focus {
	border:1px solid rgba(59,153,252,1);
	box-shadow: 0 0 10px rgba(59,153,252,1);
}

.blanker .multiple_choice {
	outline:none;
	border:none;
	font-family:inherit;
	border:1px solid #a0a0a0;
	border-radius:0.25em;
	font-family:arial;
	color:black;
	font-size:16px;
	font-weight:normal;
	background-color:white;
	height:22px;
}


.blanker[data-toolbar_hover] .blank[data-empty] > * {
	box-shadow:0 0 10px rgba(120,180,255,1);
	transition:box-shadow 0.2s;
	animation:pulse 1s infinite;
}

/*	hint */

.blanker_hint {
	position:relative;
	width:16px;
	height:16px;
	display:inline-block;
	margin-right:2px;

	font-family:arial;
	color:black;
	font-size:16px;
	font-weight:normal;
}

.blanker_hint:before {
	position:absolute;
	content:"\e908";
	color:rgba(59,153,252,1);
	font-family:H5PFontIcons;
	font-size:24px;
	text-align:center;
	left:0px;
	top:-10px;
}

.blanker_hint:after {
	position:absolute;
	content:"\e905";

	color:white;
	font-family:H5PFontIcons;
	font-size:24px;
	text-align:center;
	left:0px;
	top:-10px;

}

.blanker_hint:hover:before, .blanker_hint[data-active]:before {
	abackground-color:rgba(59,153,252,1);
}

.blanker_hint > * {
	position:relative;
	top:-25px;
	left:0;
	color:white;
	background-color:rgba(59,153,252,1);
	padding:4px;
	border-radius:4px;
	min-width:40px;
	text-align:center;
	white-space: nowrap;
	visibility:hidden;
}

.blanker_hint > *:after {
	content:"";
	position:absolute;
	top:100%;
	left:5px;
	width:0px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid rgba(59,153,252,1);

}

.blanker_hint:hover > span, .blanker_hint[data-active] > span {
	visibility:visible;
}
